<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Employee Management System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body style="max-width: 960px; margin: 16px auto; padding: 16px">
	<h3>Update Company</h3>
	<form th:action="@{/saveCompany}" th:object="${company}" method="post">
		<div class="row">
			<input type="hidden" id="id" th:field="*{id}">
			<div class="form-group">
				<label for="company_name">Name</label>
				<input id="company_name" type="text" class="form-control validate"	th:field="*{companyName}">
				<small class="text-danger" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}">Company Name Error</small>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label for="address">Address</label>
				<input id="address" type="text" class="form-control validate" th:field="*{address}">
				<small class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</small>
			</div>
		</div>
		<button type="submit" class="btn btn-success">Update Company</button>
	</form>
	<br>
	<a th:href="@{/companyList}" class="blue-text">Back</a>
</body>
</html>